fieldset fieldset{
    background: lightgoldenrodyellow url(./images/gendr.png) no-repeat; background-size:contain; background-position:center;
}
h3{
    color: blue;
}
h1{
    text-align: center;
}
#sec2 fieldset{
    background: lightseagreen;
}